extends layout 

block content 

    h1 Welcome #{user.username}!

    h2 Enter the code word to become a member and post messages.

        form(method='POST' action='')
            div.form-group 
                label(for='admin_code') Code Word: 
                input#admin_code.form-control(type='text', placeholder='Enter Code Word' name='admin_code' required='true') 

                if (adminCodeError)
                    p #{adminCodeError}

                a(href='/')
                    input.btn.btn-primary(type='submit' value="Submit")

            if (errors)
                p #{errors}
            
           

    a(href='/')
            button(type='button') Return to Message Board