extends layout 

block content 

    div.form-page

        h1.form-title Enter the Admin Code Word

        h2.form-title To Get Admin Permissions

            form(method='POST' action='')
                div.form-group 
                    label(for='admin_code' id='form-label') Code Word: 
                    input#form-input.form-control(type='text', placeholder='Enter Code Word' name='admin_code' required='true') 

                    if (adminCodeError)
                        p #{adminCodeError}

                    a(href='/')
                        input.form-btn.btn-primary(type='submit' value="Submit")

                if (errors)
                    p #{errors}
            
           

        a(href='/')
                button(type='button' class='form-button') Return to Message Board