extends layout 

block content 

    div.form-page

        h1.form-title Create New Message

            form(method='POST' action='')
                div.form-group 
                    label(for='title' id='form-label') Message Title: 
                    input#form-input.form-control(type='text', placeholder='Enter Message Title' name='title' required='true')

                div.form-group 
                    label(for='message_text' id='form-label') Message Text: 
                    input#form-input.form-control(type='text', placeholder='Enter Message Text' name='message_text' required='true')

                a(href='/') 
                    input.form-btn.btn-primary(type='submit' value="Submit Message") 
