extends layout 

block content 


    h1 Please Log In 

    form(method='POST' action='')
        label(for='username') Username: 
            input#username.form-control(type='text', placeholder='Enter Username' name='username')
            
            //- required='true' value=(undefined===user ? '' : user.username))

        label(for='password') Password: 
            input#password.form-control(type='text', placeholder='Enter Password' name='password')
            
            //- required='true' value=(undefined===user ? '' : user.first_name))
    
        button.btn.btn-primary(type='submit') Log In

        