extends layout 

block content 

    div.form-page
        h1.form-title Please Log In 

        form(method='POST' action='')
            label(for='username' id='form-label') Username: 
                input#form-input.form-control(type='text', placeholder='Enter Username' name='username')

            label(for='password' id='form-label') Password: 
                input#form-input.form-control(type='text', placeholder='Enter Password' name='password')
    
            button.form-btn.btn-primary(type='submit') Log In

        