extends layout 

block content 

    div.form-page

        h2.form-title Enter the Member Code Word
        h2.form-title To Get Message Posting Permission
            form(method='POST' action='')
                div.form-group 
                    label(for='member_code' id='form-label') Code Word: 
                    input#form-input.form-control(type='text', placeholder='Enter Code Word' name='member_code' required='true') 

                    if (memberCodeError)
                        p #{memberCodeError}

                    a(href='/')
                        input.form-btn.btn-primary(type='submit' value="Submit")

                if (errors)
                    p #{errors}
            
           

        a(href='/')
            button(type='button'   class='form-btn') Return to Message Board