extends layout 

block content 

    if user = true

        h1 Welcome to the Message Board!



        a(href='/users/logout')
            button(type='logout') Logout

        p See message board 

    else 

        h1 Welcome to the Message Board

        h2 Login or Sign Up

        a(href='/routers/message/sign-up') 
            button(type='button') Sign-Up

        a(href='/users/login')
            button(type='button') Login 