extends layout 

block content 
    div.form-page
        h1.form-title=title 

        form(method='POST' action='')
            div.sign-up-form-group 
                label(for='first_name' id='sign-up-label') First Name: 
                input#sign-up-input.form-control(type='text', placeholder='Enter First Name' name='first_name' required='true' value=(undefined===user ? '' : user.first_name))

            div.sign-up-form-group 
                label(for='last_name' id='sign-up-label') Last Name: 
                input#sign-up-input.form-control(type='text', placeholder='Enter Last Name' name='last_name' required='true' value=(undefined===user ? '' : user.last_name))

            div.sign-up-form-group 
                label(for='username' id='sign-up-label') Username: 
                input#sign-up-input.form-control(type='text', placeholder='Enter Username' name='username' required='true' value=(undefined===user ? '' : user.username))

            div.sign-up-form-group 
                label(for='password' id='sign-up-label') Password: 
                input#sign-up-input.form-control(type='password', placeholder='Enter Password' name='password' required='true' value=(undefined===user ? '' : user.password))

            div.sign-up-form-group 
                label(for='confirm_password' id='sign-up-label') Confirm Password: 
                input#sign-up-input.form-control(type='password', placeholder='Confirm Password' name='confirm_password' required='true' value=(undefined===user ? '' : user.confirm_password))

            input.form-btn.btn-primary(type='submit' value="Sign Up") 

        
        
        